{% extends 'base.html' %}

{% block titulo %}
    Contacto
{% endblock %}

{% block contenido %}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <div class="row">
        
        <!-- Article main content -->
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">Contactenos</h1>
                <h4> elblogderecetas@soporte.com</h4>
                <h2>+54 9 11 45678903</h2>

            </header>
            <br>
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Nombre">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea placeholder="Escriba su mensaje..." class="form-control" rows="9"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-10 text-right">
                            <input class="btn btn-action" type="submit" value="Enviar">
                        </div>
                    </div>
                </form>

        </article>
        <!-- /Article -->
        {% endblock contenido %}